<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Storage</title>
</head>
<body>

    <h2>Enter PIN</h2>
    <form action="files/verifyPin" method="post">
        <label for="pin">PIN Code</label>
        <input type="password" id="pin", name="pin" maxlength="4" pattern="\d{4}" required>
        <br>
        <input type="submit" value="Verify PIN">
    </form>

    <h2>Change PIN</h2>
    <form action="/files/changePin", method="post">
        <label for="currentPin">Current PIN code</label>
        <input type="text" id="currentPin" name="currentPin" maxlength=4 pattern="\d{4}" required>
        <br>
        <label for="newPin">New PIN code:</label>
        <input type="text" id="newPin" name="newPin" maxlength="4" pattern="\d{4}" required>
        <br>
        <input type="submit" value"Change PIN">
    </form>

    <h1>File Storage</h1>

    <h2>Create Directory</h2>
    <form action="/files/directories" method="post">
        <label for="parent_id">Parent Directory ID:</label>
        <input type="number" id="parentId" name="parentId" value="0">
        <br>
        <label for="name">Directory name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <input type="submit" value="Create Directory">
    </form>

    <h2>Upload File</h2>
    <form action="/files/upload" method="post" enctype="multipart/form-data">
        <label for="parentId">Parent directory ID:</label>
        <input type="number" id="parentId" name="parentId" value="0">
        <br>
        <label for="file">Select File</label>
        <input type="file" id="file" name="file" required>
        <br>
        <input type="submit" value="Upload File">
    </form>

    <h2>Storage stats</h2>
    <button onclick="getStorageStats()">Refresh storage stats</button>
    <pre id="storageStats"></pre>

    <h2>File list</h2>
    <button onclick="getFileList()">Refresh file list</button>
    <pre id="fileList"></pre>

    <script>

        async function getFileList() {
            const response = await fetch('/files/list');
            const data = await response.json();
            document.getElementById('fileList').textContent = JSON.stringify(data, null, 2);
        }

        async function getStorageStats() {
            const response = await fetch('files/stats');
            const data = await response.json();
            document.getElementById('storageStats').textContent = JSON.stringify(data, null, 2);
        }

        getFileList();
        getStorageStats();
    </script>
</body>
</html>